button {
	border: none;
	background: none;
	color: 'white';
	font-size: 16px;
	margin: 0 10px;
	color: white;
}

.button:hover {
	transition: all 0.5s;
	background-color: white;
	& button {
		color: black;
	}
	& span {
		border-left: 1px solid black;
		color: black;
	}
}

span > span {
	border-left: 1px solid white;
}
