@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,405;1,405&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Raleway:ital,wght@0,405;1,405&display=swap');

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-optical-sizing: auto;
	font-weight: 405;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url('./Image/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

li:hover {
	color: rgb(218, 249, 130);
	cursor: pointer;
	transition: all 0.5s;
}
